html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** BACKGROUNDS **/

.heroPictureBg {
  background-image: url("../assets/images/nice-house.jpeg");
  background-size: cover;
  color: white;
}

.stainedGlass {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.caobaBg {
  background: #29231C;
}

.greenBg {
  background: #414D34;
}

.metalBg {
  background: #383C46;
}

.beigeBg {
  background: #B3966D;
}

.smokeyBg {
  background: #DEDEDD;
}

.whiteBg {
  background: white;
}
